<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title><%= newsItem.title %></title>
</head>
<body>
    <h1><%= newsItem.title %></h1>
    <p><%= newsItem.content %></p>
    <a href="/">Terug naar de startpagina</a>
</body>
</html> 